.hero-main-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color:rgba(245,245,220,0.4);
}

.hero-main-content{
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 100%;
    height: 80%;
    max-width: 400px;
    background-image: url("https://images.ctfassets.net/3s4313xo0u0s/5pCTr4oH3iKaS1JtUVYpio/196312e06a6a23374a2e57140ceac675/trim_AdobeExpress.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-main-img img{
    width: 85%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all .4s ease-in-out;
    animation: blur-out 3s linear;
}

.main-img img:hover{
    opacity: .25;
}

.main-title h1{
    font-family:"Custom";
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: all .4s ease-in-out;
}

.main-title-one h1{
    font-family:"Custom";
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: all .4s ease-in-out;
}

.main-title h1:hover{
    color: #FDFD96;
}


@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes blur-out {
    from { filter: blur(5px); }
    to   { filter: blur(0px); }
}


