.splash-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: white;
    /* background-image: url("https://cdn.shopify.com/s/files/1/0084/0158/4218/t/1/assets/anja-hero.jpg?v=8191540529276063935"); */
    /* background-image: url("https://player.vimeo.com/video/672891278?h=3bc944a39d&autoplay=1&loop=1&autopause=0&muted=1&title=0&byline=0&portrait=0&controls=0"); */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* opacity: .5; */
    animation: fade-in 2s linear;
}

#open-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.splash-title{
    text-align:center;
    /* top:50%; */
    top: 50px;
    position: relative;
    /* font-size:50px; */
}

.splash-title h1{
    font-size: 40px;
    letter-spacing: 2px;
    font-family: "Custom";
}

.splash-footer{
    text-align:center;
    /* top:50%; */
    bottom: 82px;
    position: fixed;
    left: 50%;
    transform:translateX(-50%);
    animation: fade-in 3s linear;
    border: 1px solid black;
    padding: 10px;
}

.splash-footer h1{
    font-size: 13px;
    letter-spacing: 2px;
    font-family: "Custom";
}
/* .main-image{
    width: 100vw;
    position: relative;
    left:50%;
    top: 50%;
    transform:translate(-50%, -50%);
} */

.splash-image img{
    width: 100%;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}